@{ ViewData["Title"] = "Berlin Religion Data Tool"; }

<div id="content" class="chartView">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <button class="dropdown-btn">Vergleich der Subventionen zu Teilnehmer 
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showPartSub(1)>1</a>
            <a href="#" onclick=showPartSub(3)>3</a>
            <a href="#" onclick=showPartSub(4)>4</a>
            <a href="#" onclick=showPartSub(6)>6</a>
            <a href="#" onclick=showPartSub(7)>7</a>
            <a href="#" onclick=showPartSub(8)>8</a>
            <a href="#" onclick=showPartSub(9)>9</a>
        </div>
        <button class="dropdown-btn">Subventionen nach Religion
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showSubventionsByReligion()>2011 - 2016</a>
        </div>
        <button class="dropdown-btn">Subventionen nach Jahr 
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showSubventionsByYear(2011)>Subventionen im Jahr 2011</a>
            <a href="#" onclick=showSubventionsByYear(2012)>Subventionen im Jahr 2012</a>
            <a href="#" onclick=showSubventionsByYear(2013)>Subventionen im Jahr 2013</a>
            <a href="#" onclick=showSubventionsByYear(2014)>Subventionen im Jahr 2014</a>
            <a href="#" onclick=showSubventionsByYear(2015)>Subventionen im Jahr 2015</a>
            <a href="#" onclick=showSubventionsByYear(2016)>Subventionen im Jahr 2016</a>
        </div>
        <button class="dropdown-btn">Teilnehmer nach Religion
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showParticipants()>2011 - 2016</a>
        </div>
        <button class="dropdown-btn">Teilnehmer nach Jahr
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showParticipantsByYear(2011)>Teilnehmer im Jahr 2011</a>
            <a href="#" onclick=showParticipantsByYear(2012)>Teilnehmer im Jahr 2012</a>
            <a href="#" onclick=showParticipantsByYear(2013)>Teilnehmer im Jahr 2013</a>
            <a href="#" onclick=showParticipantsByYear(2014)>Teilnehmer im Jahr 2014</a>
            <a href="#" onclick=showParticipantsByYear(2015)>Teilnehmer im Jahr 2015</a>
            <a href="#" onclick=showParticipantsByYear(2016)>Teilnehmer im Jahr 2016</a>
        </div>
    </div>
    <span style="        font-size: 30px;
        cursor: pointer" onclick="openNav()">&#9776; Filtere die Daten</span>

</div>

<div id="chartContainer" style="        height: 370px;
        width: 100%;"></div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
    window.onload = showSubventionsByYear(2011);

    function showSubventionsByYear(year) {
        switch (year) {
            case 2011:
                var dataPoints = @Html.Raw(ViewBag.Subventions2011);
                break;
            case 2012:
                var dataPoints = @Html.Raw(ViewBag.Subventions2012);
                break;
            case 2013:
                var dataPoints = @Html.Raw(ViewBag.Subventions2013);
                break;
            case 2014:
                var dataPoints = @Html.Raw(ViewBag.Subventions2014);
                break;
            case 2015:
                var dataPoints = @Html.Raw(ViewBag.Subventions2015);
                break;
            case 2016:
                var dataPoints = @Html.Raw(ViewBag.Subventions2016);
                break;
            default:
                var dataPoints = @Html.Raw(ViewBag.Subventions2011);
                break;
        }


        var title = `Subventionen in ${year}`;

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true
            },
            title: {
                text: title,
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Subventionen",
                includeZero: true,
                maximum: 1000000,
                minimum: 100
            },
            axisX: {
                labelAutoFit: true,
                labelFontSize: 10
            },
            data: [{
                type: "column",
                indexLabel: "{y}",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                dataPoints: dataPoints
            }]
        });

        chart.render();
    }


    function showSubventionsByReligion() {


        var title = `Subventionen`;

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true,
                shared: true
            },
            title: {
                text: title,
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Subventionen",
                includeZero: true,
                minimum: 100,
                suffix: " EUR"
            },
            axisX: {
                labelAutoFit: true,
                labelFontSize: 12
            },
            data: [{
                type: "line",
                name: "Evangelische Kirche Berlin - Brandenburg - schlesische Oberlausitz",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions1)
            }, {
                type: "line",
                name: "Humanisitischer Verband Berlin - Brandenburg",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions2)
            }, {
                type: "line",
                name: "Erzbistum Berlin",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions3)
            }, {
                type: "line",
                name: "Islamische Föderation Berlin",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions4)
            }, {
                type: "line",
                name: "Jüdische Gemeinde zu Berlin",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions5)
            }, {
                type: "line",
                name: "Alevitische Gemeinde zu Berlin",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions6)
            }, {
                type: "line",
                name: "Christengemeinschaft im Lande Berlin",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions7)
            }, {
                type: "line",
                name: "Buddhistische Gesellschaft Berlin",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions8)
            }, {
                type: "line",
                name: "Lauder Beth Zion",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions9)
            }, {
                type: "line",
                name: "Jüdische Traditionsschule",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Subventions10)
            }]
        });

        chart.render();
    }

    function showParticipantsByYear(year) {
        switch (year) {
            case 2011:
                var dataPoints = @Html.Raw(ViewBag.Participants2011);
                break;
            case 2012:
                var dataPoints = @Html.Raw(ViewBag.Participants2012);
                break;
            case 2013:
                var dataPoints = @Html.Raw(ViewBag.Participants2013);
                break;
            case 2014:
                var dataPoints = @Html.Raw(ViewBag.Participants2014);
                break;
            case 2015:
                var dataPoints = @Html.Raw(ViewBag.Participants2015);
                break;
            case 2016:
                var dataPoints = @Html.Raw(ViewBag.Participants2016);
                break;
            default:
                var dataPoints = @Html.Raw(ViewBag.Participants2011);
                break;
        }

        var title = `Teilnehmer in ${year}`;

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true
            },
            title: {
                text: title,
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Teilnehmer",
                includeZero: true,
                maximum: 90000
            },
            axisX: {
                labelAutoFit: true,
                labelFontSize: 9
            },
            data: [{
                type: "column",
                indexLabel: "{y}",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                dataPoints: dataPoints
            }]
        });

        chart.render();
    }

    function showParticipants() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Teilnehmer",
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Teilnehmer",
                margin: 25,
                titleFontSize: 18,
                minimum: 10
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Evangelischer Religionsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants1)
            }, {
                type: "line",
                name: "Katholischer Religionsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants2)
            }, {
                type: "line",
                name: "Humanistischer Lebenskundeunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants3)
            }, {
                type: "line",
                name: "Islamischer Religionsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants4)
            }, {
                type: "line",
                name: "Sonstiger Religions- und Weltanschauungsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants5)
            }, {
                type: "line",
                name: "Sonstiger Religions- und Weltanschauungsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants6)
            }, {
                type: "line",
                name: "Sonstiger Religions- und Weltanschauungsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants7)
            }, {
                type: "line",
                name: "Sonstiger Religions- und Weltanschauungsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants8)
            }, {
                type: "line",
                name: "Sonstiger Religions- und Weltanschauungsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Participants9)
            }]
        });

        chart.render();
    }

    function showPartSub(number) {
        switch (number) {
            case 1:
                var dataPointsPar = @Html.Raw(ViewBag.Participants1);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions1);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
            case 3:
                var dataPointsPar = @Html.Raw(ViewBag.Participants3);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions2);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
            case 4:
                var dataPointsPar = @Html.Raw(ViewBag.Participants4);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions4);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
            case 6:
                var dataPointsPar = @Html.Raw(ViewBag.Participants6);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions5);
                var dataPointsSub2 = @Html.Raw(ViewBag.Subventions10);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
            case 7:
                var dataPointsPar = @Html.Raw(ViewBag.Participants7);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions7);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
            case 8:
                var dataPointsPar = @Html.Raw(ViewBag.Participants8);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions6);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
            case 9:
                var dataPointsPar = @Html.Raw(ViewBag.Participants9);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions8);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
            default:
                var dataPointsPar = @Html.Raw(ViewBag.Participants1);
                var dataPointsSub = @Html.Raw(ViewBag.Subventions1);
                var namePar = "";
                var nameSub = "";
                var nameSub2 = "";
                break;
        }

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true
            },
            title: {
                text: "Teilnehmer-Subventionen Vergleich",
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Subventionen",
                includeZero: false
            },
            axisY2: {
                title: "Teilnehmer",
                includeZero: false,
            },
            axisX: {
                labelAutoFit: true,
                labelFontSize: 12
            },
            data: [{
                type: "column",
                name: nameSub,
                indexLabel: "{y}",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                dataPoints: dataPointsSub
            }, {
                type: "line",
                name: namePar,
                showInLegend: true,
                axisYType: "secondary",
                indexLabel: "{y}",
                indexLabelFontColor: "red",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                dataPoints: dataPointsPar
            }, {
                type: "line",
                name: nameSub2,
                showInLegend: true,
                axisYType: "secondary",
                indexLabel: "{y}",
                indexLabelFontColor: "red",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                dataPoints: dataPointsSub2
            }]
        });

        chart.render();
    }

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>