@{ ViewData["Title"] = "Berlin Religion Data Tool"; }

<div id="content" class="chartView">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" onclick=showPartSub()>Teilnehmer-Subventionen Vergleich</a>
        <button class="dropdown-btn">Subventionen nach Religion
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showSubventionsByReligion(2011)>Name</a>
            <a href="#" onclick=showSubventionsByReligion(2012)>Name</a>
            <a href="#" onclick=showSubventionsByReligion(2013)>Name</a>
            <a href="#" onclick=showSubventionsByReligion(2014)>Name</a>
            <a href="#" onclick=showSubventionsByReligion(2015)>Name</a>
            <a href="#" onclick=showSubventionsByReligion(2016)>Name</a>
        </div>
        <button class="dropdown-btn">Subventionen nach Jahr 
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showSubventionsByYear(2011)>Subventionen im Jahr 2011</a>
            <a href="#" onclick=showSubventionsByYear(2012)>Subventionen im Jahr 2012</a>
            <a href="#" onclick=showSubventionsByYear(2013)>Subventionen im Jahr 2013</a>
            <a href="#" onclick=showSubventionsByYear(2014)>Subventionen im Jahr 2014</a>
            <a href="#" onclick=showSubventionsByYear(2015)>Subventionen im Jahr 2015</a>
            <a href="#" onclick=showSubventionsByYear(2016)>Subventionen im Jahr 2016</a>
        </div>
        <button class="dropdown-btn">Teilnehmer nach Religion
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showParticipants()>2011 - 2016</a>
        </div>
        <button class="dropdown-btn">Teilnehmer nach Jahr
             <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" onclick=showParticipantsByYear(2011)>Teilnehmer im Jahr 2011</a>
            <a href="#" onclick=showParticipantsByYear(2012)>Teilnehmer im Jahr 2012</a>
            <a href="#" onclick=showParticipantsByYear(2013)>Teilnehmer im Jahr 2013</a>
            <a href="#" onclick=showParticipantsByYear(2014)>Teilnehmer im Jahr 2014</a>
            <a href="#" onclick=showParticipantsByYear(2015)>Teilnehmer im Jahr 2015</a>
            <a href="#" onclick=showParticipantsByYear(2016)>Teilnehmer im Jahr 2016</a>
        </div>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Filtere die Daten</span>

</div>

<div id="chartContainer" style=" height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
    window.onload = showSubventionsByYear(2011);

    function showSubventionsByYear(year) {
        switch (year) {
            case 2011:
                var dataPoints = @Html.Raw(ViewBag.Subventions2011);
                break;
            case 2012:
                var dataPoints = @Html.Raw(ViewBag.Subventions2012);
                break;
            case 2013:
                var dataPoints = @Html.Raw(ViewBag.Subventions2013);
                break;
            case 2014:
                var dataPoints = @Html.Raw(ViewBag.Subventions2014);
                break;
            case 2015:
                var dataPoints = @Html.Raw(ViewBag.Subventions2015);
                break;
            case 2016:
                var dataPoints = @Html.Raw(ViewBag.Subventions2016);
                break;
            default:
                var dataPoints = @Html.Raw(ViewBag.Subventions2011);
                break;
        }


        var title = `Subventionen in ${year}`;

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true
            },
            title: {
                text: title,
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Subventionen",
                includeZero: false,
                maximum: 1000000
            },
            axisX: {
                labelFontSize: 9
            },
            data: [{
                type: "column",
                dataPoints: dataPoints
            }]
        });

        chart.render();
    }


    function showSubventionsByReligion(religionKey) {
        switch (religionKey) {
            case 1:
                var dataPoints = @Html.Raw(ViewBag.Subventions2011);
                break;
            case 2:
                var dataPoints = @Html.Raw(ViewBag.Subventions2012);
                break;
            case 3:
                var dataPoints = @Html.Raw(ViewBag.Subventions2013);
                break;
            case 4:
                var dataPoints = @Html.Raw(ViewBag.Subventions2014);
                break;
            case 5:
                var dataPoints = @Html.Raw(ViewBag.Subventions2015);
                break;
            case 6:
                var dataPoints = @Html.Raw(ViewBag.Subventions2016);
                break;
            default:
                var dataPoints = @Html.Raw(ViewBag.Subventions2011);
                break;
        }


        var title = `Subventionen in ${year}`;

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true
            },
            title: {
                text: title,
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Subventionen",
                includeZero: false,
                maximum: 1000000
            },
            axisX: {
                labelFontSize: 9
            },
            data: [{
                type: "column",
                dataPoints: dataPoints
            }]
        });

        chart.render();
    }


    function showParticipants() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Teilnehmer",
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Teilnehmer",
                margin: 25,
                titleFontSize: 18
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Evangelischer Religionsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsEvan)
            }, {
                type: "line",
                name: "Katholischer Religionsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsKath)
            }]
        });

        chart.render();
    }

    function showParticipantsByYear(year) {
        switch (year) {
            case 2011:
                var dataPoints = @Html.Raw(ViewBag.Participants2011);
                break;
            case 2012:
                var dataPoints = @Html.Raw(ViewBag.Participants2012);
                break;
            case 2013:
                var dataPoints = @Html.Raw(ViewBag.Participants2013);
                break;
            case 2014:
                var dataPoints = @Html.Raw(ViewBag.Participants2014);
                break;
            case 2015:
                var dataPoints = @Html.Raw(ViewBag.Participants2015);
                break;
            case 2016:
                var dataPoints = @Html.Raw(ViewBag.Participants2016);
                break;
            default:
                var dataPoints = @Html.Raw(ViewBag.Participants2011);
                break;
        }

        var title = `Teilnehmer in ${year}`;

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true
            },
            title: {
                text: title,
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Teilnehmer",
                includeZero: false
            },
            axisX: {
                labelAutoFit: true,
                labelFontSize: 12
            },
            data: [{
                type: "column",
                dataPoints: dataPoints
            }]
        });

        chart.render();
    }

    function showParticipants() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Teilnehmer",
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Teilnehmer",
                margin: 25,
                titleFontSize: 18
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Evangelischer Religionsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsEvan)
            }, {
                type: "line",
                name: "Katholischer Religionsunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsKath)
            }, {
                type: "line",
                name: "Humanistischer Lebenskundeunterricht",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.ParticipantsHuman)
            }]
        });

        chart.render();
    }

    function showPartSub() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            toolTip: {
                enabled: true,
                animationEnabled: true
            },
            title: {
                text: "Teilnehmer-Subventionen Vergleich",
                margin: 25,
                fontSize: 18
            },
            axisY: {
                title: "Subventionen",
                includeZero: false,
                maximum: 1000000
            },
            axisX: {
                labelFontSize: 9
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.Subventions2011)
            }]
        });

        chart.render();
    }

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>